<table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Street</th>
        <th>Suite</th>
        <th>City</th>
        <th>Zipcode</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Phone</th>
        <th>Website</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of usersData">
        <td>{{ country.id }}</td>
        <td>{{ country.name }}</td>
        <td>{{ country.username }}</td>
        <td>{{ country.email }}</td>
        <td>{{ country.address.street }}</td>
        <td>{{ country.address.suite }}</td>
        <td>{{ country.address.city }}</td>
        <td>{{ country.address.zipcode }}</td>
        <td>{{ country.address.geo.lat }}</td>
        <td>{{ country.address.geo.lng }}</td>
        <td>{{ country.phone }}</td>
        <td>{{ country.website }}</td>
        <td>{{ country.company.name }}</td>
      </tr>
    </tbody>
  </table>
